<h1>
    Invoice from PC Store
</h1>
<p> Invoice generated at: <%= Time.zone.now %> </p>
<h4 class="text-center text-success">
    Order details
</h4>
<ul class="list-group">
    <h4> Delivery Address: </h4>
    <li class="list-group-item">
        <h6> Phone: <%= @order.deliver_address[:phone] %> </h6>
    </li>
    <li class="list-group-item">
        <h6> Email: <%= @order.deliver_address[:email] %> </h6>
    </li>
    <li class="list-group-item">
        <h6> Zip code: <%= @order.deliver_address[:zipcode] %> </h6>
    </li>
    <li class="list-group-item">
        <h6> Address: <%= @order.deliver_address[:location] %> </h6>
    </li>
</ul>
<br />
<h4> Ordered Items: </h4>
<ol class="list-group">
        <% @order.order_data.each do |each| %>
        <li class="list-group-item">
            <h6> Ordered: <%= each[:title] %> </h6>
            <p class="text-muted"> Price: <%= each[:price] %> </p>
            <p class="text-muted"> Quantity: <%= each[:quantity] %> </p>
        </li>
    <% end %>
</ol>

<h3> Total price: <%= @order.total_price %> </h3>
<h4> Ordered <%= time_ago_in_words(@order.created_at) %> ago </h4>
<h5> Done payment on <%= @order.payed_at %> </h5>
